.deck {
  background-image: linear-gradient(to right, rgb(135, 164, 173), rgb(221, 173, 230));
  width: 80vw;
  height: 80wh;
  grid-column: 1 / -1;
  grid-row: 2 / -2;
  justify-self: center;


  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}