@import '../../Variables//Variables.scss';

.btn {
  background-color: $color-primary-dark;
  color: white;
  font-family: inherit;
  width: 25%;
  padding: 10px;
  align-self: center;
  border-radius: 3px;
  border: 0px;
  cursor: pointer;
  transition: all 500ms;

  &:hover {
    background-color: $color-primary;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
  }

  &:active {
    background-color: $color-primary-dark;
    transform: translateY(-2px);
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
  }
}

