.Lottery {
  width: 70vw;
  background-color: white;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
  border: 1px solid lightgray;
  margin: 30px auto;
  padding: 30px;

  display: flex;
  flex-flow: column;
}

.Lottery h1 {
  align-self: center;
  color: lightgray;
  border-bottom: 2px dotted lightgrey;
}

.Lottery__balls {
  border-radius: 3px;
  margin: 20px 0 50px 0;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Button {
  background-color: orangered;
  color: white;
  width: 40%;
  padding: 10px;
  align-self: center;
  border-radius: 3px;
  border: 0px;
  cursor: pointer;
  transition: all 500ms;
}

.Button:hover {
  background-color: rgb(228, 77, 23);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .3);

}

.Button:active {
  background-color: orangered;
  transform: translateY(-2px);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
}