@import '../../Variables/Variables.scss';

.header {
  background-color: $color-blue-dark-1;
  color: $color-grey-light-2;
  border-bottom: 1px dotted rgb(37, 37, 53);
  box-shadow: 0 0 1rem rgba($color: white, $alpha: .3);
  padding: 0 .9rem;
  font-size: 1.6rem;
  font-weight: 200;
  grid-row: 1 / 2;
  grid-column: 1 / -1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: $font-logo-2;
  font-size: 2.5rem;

  a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
  }
}

.navigation {
  width: 50vw;
  display: flex;
  justify-content: space-evenly;

  a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
    
    padding: 1rem;

    &:hover {
      background-color: $color-grey-light-2;
      color: $color-blue-dark-1;
    }
  }
}
