@import '../../Variables/Variables.scss';

.header {
  background-color: whitesmoke;
  color: $color-blue-dark-2;
  border-bottom: 1px solid rgb(199, 196, 196);
  box-shadow: 0 0 1rem rgba($color: #000000, $alpha: .3);
  padding: 0 1rem;
  grid-row: 1 / 2;
  grid-column: 1 / -1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Kaushan Script',
  cursive;
  font-size: 3rem;
}

.navigation {
  width: 50vw;
  display: flex;
  justify-content: space-evenly;

  a {
    text-decoration: none;
    font-size: 2rem;
    font-family: $font-primary;
    color: inherit;
    padding: 1rem;

    &:hover {
      background-color: $color-blue-dark-2;
      color: whitesmoke;
    }
  }
}
