/* font-primary: 'Nunito', sans-serif;
font-display: 'Josefin Sans', sans-serif; */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(218, 214, 214);
  font-family: 'Josefin Sans', sans-serif;
  /* font-family: 'Nunito',sans-serif; */
}